beautifulsoup4>=4.6.0
DataProperty>=0.24.2
jsonschema>=2.6.0
logbook
markdown2>=2.3.4
mbstrdecoder
pathvalidate>=0.15.0
path.py>=10.3.1
requests>=2.18.1
SimpleSQLite>=0.11.0
six
typepy>=0.0.12
pyparsing>=2.2.0
xlrd>=1.0.0
